Repository Tuteria/tuteria-frontend-story: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

save chnages
  src/stories/tutor-application/components.stories.tsx
Due: prettier --write, eslint --fix

save changes
  src/stories/tutor-application/components.stories.tsx
Due: prettier --write, eslint --fix

Finished verification page
  src/stories/tutor-application/components/TutorPageComponent.tsx
Due: prettier --write, eslint --fix

save changes
  .gitignore
Due: none

pulled changes
  yarn.lock
Due: none

completed testing for logout logic
  src/stories/tutor-application/adapter.ts
  src/stories/tutor-application/components/TutorPageComponent.tsx
  src/stories/tutor-application/pages/index.stories.tsx
Due: prettier --write, eslint --fix

save changes
  src/stories/tutor-application/adapter.ts
Due: prettier --write, eslint --fix

Working on landing page
  public/assets/shapes.svg
  public/static/img/circle-09.svg
  public/static/img/cropper/corner-dragger.svg
  public/static/img/skills/volleyball.svg
  src/stories/assets/code-brackets.svg
  src/stories/assets/colors.svg
  src/stories/assets/comments.svg
  src/stories/assets/direction.svg
  src/stories/assets/flow.svg
  src/stories/assets/plugin.svg
  src/stories/assets/repo.svg
  src/stories/assets/stackalt.svg
  src/stories/chakra-designs/Marketing/stats.stories.tsx
  src/stories/chakra-designs/Marketing/testimonials.stories.tsx
  src/stories/pages/components/Marketing/Stats/Stat.tsx
  src/stories/pages/components/Marketing/Stats/StatsWithLine.tsx
  src/stories/pages/components/Marketing/Testimonials/Logo.tsx
  src/stories/pages/components/Marketing/Testimonials/WithCurve.tsx
  src/stories/tutor-application/pages/index.stories.tsx
Due: prettier --write, eslint --fix

Finished tutor application front-end
  src/stories/tutor-application/adapter.ts
  src/stories/tutor-application/components.stories.tsx
  src/stories/tutor-application/pages/index.stories.tsx
Due: prettier --write, eslint --fix

save changes
  yarn.lock
Due: none

Finished begin application drawer
  src/stories/tutor-application/adapter.ts
Due: prettier --write, eslint --fix

fixed story implementation for adding untestable subjects
  .gitmodules
  .storybook/main.js
  fabfile.py
  src/stories/tutor-application/adapter.ts
  yarn.lock
Due: prettier --write, eslint --fix

sc
  yarn.lock
Due: none

added admin storybook interface
  src/stories/admin/index.stories.tsx
  src/stories/tutor-application/pages/index.stories.tsx
Due: prettier --write, eslint --fix

added new home-tutoring-flow next-js application
  .gitignore
  .gitmodules
Due: none

add ReviewMediaUpload stories
  src/stories/admin/index.stories.tsx
Due: prettier --write, eslint --fix

save changes
  src/stories/tutor-application/pages/index.stories.tsx
Due: prettier --write, eslint --fix

add missing props for ReviewMediaUpload stories
  src/stories/admin/index.stories.tsx
Due: prettier --write, eslint --fix

update ReviewMediaUpload stories
  src/stories/admin/index.stories.tsx
Due: prettier --write, eslint --fix

feat(admin): add ReviewGuarantors stories
  src/stories/admin/index.stories.tsx
Due: prettier --write, eslint --fix

save changes
  src/stories/admin/index.stories.tsx
  src/stories/tutor-application/adapter.ts
Due: prettier --write, eslint --fix

save changes
  src/stories/tutor-application/adapter.ts
  src/stories/tutor-application/components/TutorPageComponent.tsx
Due: prettier --write, eslint --fix

pinned lock-file
  package.json
  yarn.lock
Due: prettier --write

feat(ReviewImageUpload): add profileUrl prop
  src/stories/admin/index.stories.tsx
Due: prettier --write, eslint --fix

added build settings for deploying the cdn codebase
  fabfile.py
Due: none

feat: add New Request Flow stories
  src/stories/new-request-flow/adapter.ts
  src/stories/new-request-flow/index.stories.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,yml,json,babelrc,eslintrc,prettierrc})
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
