Repository Tuteria/tuteria-frontend-story: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

save changes
  package.json
  src/stories/new-request-flow/admin-search.stories.tsx
  src/stories/new-request-flow/index.stories.tsx
  src/stories/new-request-flow/sampleData.ts
  tests/demo.ts
Due: prettier --write, eslint --fix

save changes
  src/stories/new-request-flow/index.stories.tsx
  src/stories/new-request-flow/sampleData.ts
Due: prettier --write, eslint --fix

save changes
  src/stories/tutor-application/components.stories.tsx
  src/stories/tutor-application/pages/index.stories.tsx
Due: prettier --write, eslint --fix

feat: add post application component story
  src/stories/tutor-application/pages/index.stories.tsx
Due: prettier --write, eslint --fix

save changes
  src/stories/tutor-application/pages/index.stories.tsx
Due: prettier --write, eslint --fix

to rewrite the implementation to match the usage on tutor-client-lib
  src/stories/existing-tutors/pages/index.stories.tsx
  src/stories/tutor-application/pages/index.stories.tsx
Due: prettier --write, eslint --fix

save changes
  src/stories/existing-tutors/adapter.ts
Due: prettier --write, eslint --fix

resolved the transition
  src/stories/existing-tutors/pages/index.stories.tsx
Due: prettier --write, eslint --fix

save changes
  src/stories/new-request-flow/adapter.ts
  src/stories/new-request-flow/sampleData.ts
Due: prettier --write, eslint --fix

saved changes
  yarn.lock
Due: none

save changes
  fabfile.py
  yarn.lock
Due: none

save changes
  src/stories/admin/adapter.ts
Due: prettier --write, eslint --fix

ss
  src/stories/new-request-flow/index.stories.tsx
Due: prettier --write, eslint --fix

save changes
  src/stories/existing-tutors/adapter.ts
  src/stories/existing-tutors/pages/index.stories.tsx
Due: prettier --write, eslint --fix

added remaining components
  src/stories/tutor-application/pages/index.stories.tsx
Due: prettier --write, eslint --fix

save changes
  package.json
  src/stories/tutor-application/adapter.ts
  tests/can-proceed.ts
Due: prettier --write, eslint --fix

save changes
  src/stories/new-request-flow/profile-to-client.stories.tsx
Due: prettier --write, eslint --fix

added nx configuration
  .eslintrc.json
  jest.config.js
  jest.preset.js
  nx.json
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

added better mono-repo support with nx
  babel.config.json
  nx.json
  package.json
  tsconfig.json
  workspace.json
  yarn.lock
Due: prettier --write

fix problematic components
  nx.json
  package.json
  packages/design-system/.babelrc
  packages/design-system/.eslintrc.json
  packages/design-system/.storybook/main.js
  packages/design-system/.storybook/preview.js
  packages/design-system/.storybook/tsconfig.json
  packages/design-system/README.md
  packages/design-system/jest.config.js
  packages/design-system/project.json
  packages/design-system/src/adapter.ts
  packages/design-system/src/index.ts
  packages/design-system/src/lib/design-system.spec.tsx
  packages/design-system/src/lib/design-system.stories.tsx
  packages/design-system/src/lib/design-system.tsx
  packages/design-system/src/lib/tutor-application.stories.tsx
  packages/design-system/src/lib/tutor-application.tsx
  packages/design-system/tsconfig.json
  packages/design-system/tsconfig.lib.json
  packages/design-system/tsconfig.spec.json
  tsconfig.json
  workspace.json
  yarn.lock
Due: prettier --write, eslint --fix

desigy system
  .storybook/main.js
  packages/design-system/src/lib/components.stories.tsx
  packages/design-system/src/lib/components.tsx
  packages/design-system/src/lib/design-system.stories.tsx
  packages/design-system/src/lib/tutor-application.stories.tsx
Due: prettier --write, eslint --fix

save changes to storybook
  .storybook/main.js
  package.json
Due: prettier --write, eslint --fix

save changes
  .gitignore
  nx.json
  package.json
  tsconfig.json
  workspace.json
  yarn.lock
Due: prettier --write

test suite for mobile library added
  apps/tuteria-mobile-e2e/.babelrc
  apps/tuteria-mobile-e2e/.detoxrc.json
  apps/tuteria-mobile-e2e/.eslintrc.json
  apps/tuteria-mobile-e2e/environment.js
  apps/tuteria-mobile-e2e/jest.config.json
  apps/tuteria-mobile-e2e/project.json
  apps/tuteria-mobile-e2e/src/app.spec.ts
  apps/tuteria-mobile-e2e/test-setup.ts
  apps/tuteria-mobile-e2e/tsconfig.e2e.json
  apps/tuteria-mobile-e2e/tsconfig.json
Due: prettier --write, eslint --fix

save changes
  package.json
  tsconfig.json
  workspace.json
  yarn.lock
Due: prettier --write

ss
  yarn.lock
Due: none

sc
  workspace.json
  yarn.lock
Due: prettier --write

save changes
  package.json
  packages/mobile-ui/.babelrc
  packages/mobile-ui/.eslintrc.json
  packages/mobile-ui/README.md
  packages/mobile-ui/jest.config.js
  packages/mobile-ui/project.json
  packages/mobile-ui/src/LearningMaterialListItem.tsx
  packages/mobile-ui/src/index.ts
  packages/mobile-ui/src/lib/sample/sample.spec.tsx
  packages/mobile-ui/src/lib/sample/sample.tsx
  packages/mobile-ui/test-setup.ts
  packages/mobile-ui/tsconfig.json
  packages/mobile-ui/tsconfig.lib.json
  packages/mobile-ui/tsconfig.spec.json
  yarn.lock
Due: prettier --write, eslint --fix

Pulled latest changes
  package.json
  packages/mobile-ui/.babelrc
  packages/mobile-ui/.eslintrc.json
  packages/mobile-ui/README.md
  packages/mobile-ui/jest.config.js
  packages/mobile-ui/project.json
  packages/mobile-ui/src/LearningMaterialListItem.tsx
  packages/mobile-ui/src/index.ts
  packages/mobile-ui/src/lib/sample/sample.spec.tsx
  packages/mobile-ui/src/lib/sample/sample.tsx
  packages/mobile-ui/test-setup.ts
  packages/mobile-ui/tsconfig.json
  packages/mobile-ui/tsconfig.lib.json
  packages/mobile-ui/tsconfig.spec.json
  yarn.lock
Due: prettier --write, eslint --fix

sc
  .VSCodeCounter/2022-04-15_13-18-00/details.md
  .VSCodeCounter/2022-04-15_13-18-00/diff-details.md
  .VSCodeCounter/2022-04-15_13-18-00/diff.csv
  .VSCodeCounter/2022-04-15_13-18-00/diff.md
  .VSCodeCounter/2022-04-15_13-18-00/diff.txt
  .VSCodeCounter/2022-04-15_13-18-00/results.csv
  .VSCodeCounter/2022-04-15_13-18-00/results.json
  .VSCodeCounter/2022-04-15_13-18-00/results.md
  .VSCodeCounter/2022-04-15_13-18-00/results.txt
  .VSCodeCounter/2022-04-15_13-25-43/details.md
  .VSCodeCounter/2022-04-15_13-25-43/diff-details.md
  .VSCodeCounter/2022-04-15_13-25-43/diff.csv
  .VSCodeCounter/2022-04-15_13-25-43/diff.md
  .VSCodeCounter/2022-04-15_13-25-43/diff.txt
  .VSCodeCounter/2022-04-15_13-25-43/results.csv
  .VSCodeCounter/2022-04-15_13-25-43/results.json
  .VSCodeCounter/2022-04-15_13-25-43/results.md
  .VSCodeCounter/2022-04-15_13-25-43/results.txt
  package.json
  packages/design-system/src/lib/ChakraProApplication.stories.tsx
  packages/design-system/src/lib/ChakraProApplication.tsx
  packages/design-system/src/lib/components/Application/ShellWithLightBackgroundAndBlueText/Card.tsx
  packages/design-system/src/lib/components/Application/ShellWithLightBackgroundAndBlueText/Logo.tsx
  packages/design-system/src/lib/components/Application/ShellWithLightBackgroundAndBlueText/NavButton.tsx
  packages/design-system/src/lib/components/Application/ShellWithLightBackgroundAndBlueText/Navbar.tsx
  packages/design-system/src/lib/components/Application/ShellWithLightBackgroundAndBlueText/Sidebar.tsx
  packages/design-system/src/lib/components/Application/ShellWithLightBackgroundAndBlueText/ToggleButton.tsx
  packages/design-system/src/lib/components/Application/ShellWithLightBackgroundAndBlueText/UserProfile.tsx
  packages/design-system/src/lib/components/Application/ShellWithLightBackgroundAndBlueText/index.tsx
  yarn.lock
Due: prettier --write, eslint --fix

added new table
  packages/design-system/src/lib/ChakraProApplication.tsx
  packages/design-system/src/lib/components/Application/TableWithSearchNew/MemberTable.tsx
  packages/design-system/src/lib/components/Application/TableWithSearchNew/Rating.tsx
  packages/design-system/src/lib/components/Application/TableWithSearchNew/data.ts
  packages/design-system/src/lib/components/Application/TableWithSearchNew/index.tsx
Due: prettier --write, eslint --fix

sc
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,yml,json,babelrc,eslintrc,prettierrc})
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
