Repository Tuteria/tuteria-frontend-story: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "**/*.{md,yml,json,babelrc,eslintrc,prettierrc}": [
    "prettier --write"
  ]
}

save changes
  package.json
Due: prettier --write

package.json
  .husky/.gitignore
  .husky/pre-commit
  package.json
Due: prettier --write

added mobx behaviour
  packages/mobile-lib/src/App.tsx
  packages/mobile-lib/src/pages/Page.tsx
Due: prettier --write, eslint --fix

sample components
  .gitignore
  package.json
  packages/mobile-lib/src/components/ExploreContainer.tsx
  src/stories/primitives.stories.tsx
Due: prettier --write, eslint --fix

save changes
  .gitignore
Due: none

feat: add menu view story
  src/stories/primitives.stories.tsx
Due: prettier --write, eslint --fix

save changes
  src/stories/primitives.stories.tsx
Due: prettier --write, eslint --fix

feat: add form story
  src/stories/primitives.stories.tsx
Due: prettier --write, eslint --fix

add form stories
  src/stories/forms.stories.tsx
Due: prettier --write, eslint --fix

update WorkHistory component story
  src/stories/forms.stories.tsx
Due: prettier --write, eslint --fix

initial setup
  packages/mobile-lib/.gitignore
  packages/mobile-lib/package.json
  packages/mobile-lib/src/App.tsx
  packages/mobile-lib/src/bootstrap.tsx
  packages/mobile-lib/src/components/ExploreContainer.css
  packages/mobile-lib/src/components/ExploreContainer.tsx
  packages/mobile-lib/src/components/Menu.css
  packages/mobile-lib/src/components/Menu.tsx
  packages/mobile-lib/src/pages/Page.css
  packages/mobile-lib/src/pages/Page.tsx
  packages/mobile-lib/src/stores/index.ts
  packages/mobile-lib/src/styles.ts
  packages/mobile-lib/src/theme/variables.css
Due: prettier --write, eslint --fix

duplicate of tutor revamp: initial setup
  package.json
  src/stories/tutor-application/index.stories.tsx
  tsconfig.json
Due: prettier --write, eslint --fix

fix: add missing react import
  package.json
  packages/mobile-lib/src/pages/Page.tsx
Due: prettier --write, eslint --fix

added job list page story
  src/stories/data/parent-flow/data.js
  src/stories/data/private-lessons/_sampleData.js
  src/stories/mobile-application/index.stories.tsx
Due: prettier --write, eslint --fix

working on individual pages
  src/stories/tutor-application/index.stories.tsx
Due: prettier --write, eslint --fix

added stories for mobile-application
  src/stories/mobile-application/job-list.stories.tsx
  src/stories/mobile-application/schedule.stories.tsx
Due: prettier --write, eslint --fix

added readme
  Readme.md
Due: prettier --write

readme edit
  Readme.md
Due: prettier --write

forms separation
  src/stories/tutor-application/forms.stories.tsx
Due: prettier --write, eslint --fix

fix: add missing react import
  package.json
  packages/mobile-lib/.gitignore
  packages/mobile-lib/package.json
  packages/mobile-lib/src/App.tsx
  packages/mobile-lib/src/bootstrap.tsx
  packages/mobile-lib/src/components/ExploreContainer.css
  packages/mobile-lib/src/components/ExploreContainer.tsx
  packages/mobile-lib/src/components/Menu.css
  packages/mobile-lib/src/components/Menu.tsx
  packages/mobile-lib/src/pages/Page.css
  packages/mobile-lib/src/pages/Page.tsx
  packages/mobile-lib/src/stores/index.ts
  packages/mobile-lib/src/styles.ts
  packages/mobile-lib/src/theme/variables.css
Due: prettier --write, eslint --fix

rename js file to ts
  src/stories/data/parent-flow/data.ts
  src/stories/data/private-lessons/_sampleData.ts
  src/stories/mobile-application/job-list.stories.tsx
  src/stories/mobile-application/schedule.stories.tsx
Due: prettier --write, eslint --fix

save changes
  src/stories/tutor-application/index.stories.tsx
Due: prettier --write, eslint --fix

save changes
  packages/mobile-lib/src/bootstrap.tsx
  packages/mobile-lib/src/components/ExploreContainer.css
  packages/mobile-lib/src/components/Menu.css
  packages/mobile-lib/src/components/Menu.tsx
  packages/mobile-lib/src/pages/Page.tsx
  packages/mobile-lib/src/stores/index.ts
  packages/mobile-lib/src/styles.ts
  packages/mobile-lib/src/theme/variables.css
  src/stories/data/parent-flow/data.js
  src/stories/data/private-lessons/_sampleData.js
Due: prettier --write, eslint --fix

save changes
  src/stories/data/parent-flow/data.ts
  src/stories/data/private-lessons/_sampleData.ts
Due: prettier --write, eslint --fix

save changes
  packages/mobile-lib/package.json
Due: prettier --write

add TutorPageWrapper component
  packages/mobile-lib/package.json
  packages/mobile-lib/src/stores/index.ts
  src/stories/components.stories.tsx
  src/stories/mobile-application/job-list.stories.tsx
  src/stories/mobile-application/schedule.stories.tsx
Due: prettier --write, eslint --fix

save changes
  .storybook/preview.tsx
  src/stories/mobile-application/job-list.stories.tsx
Due: prettier --write, eslint --fix

completed the layering of the forms in index page
  src/stories/tutor-application/index.stories.tsx
Due: prettier --write, eslint --fix

fixed Icons accross all packages
  package.json
  packages/mobile-lib/package.json
  packages/mobile-lib/src/bootstrap.tsx
  src/stories/mobile-application/job-list.stories.tsx
Due: prettier --write, eslint --fix

progress happening
  src/stories/mobile-application/job-list.stories.tsx
Due: prettier --write, eslint --fix

save changes
  src/stories/chakra-designs/index.stories.tsx
  src/stories/pages/ChakraProView.tsx
  src/stories/pages/components/BannerWithButton.tsx
  src/stories/pages/components/BorderedInput.tsx
  src/stories/pages/components/ButtonCheckBox.tsx
  src/stories/pages/components/ButtonRadioBox.tsx
  src/stories/pages/components/CardWithAddButton.tsx
  src/stories/pages/components/CardWithColorAccent.tsx
  src/stories/pages/components/CardWithForm.tsx
  src/stories/pages/components/CardWithRightButton.tsx
  src/stories/pages/components/CardWithSwitch.tsx
  src/stories/pages/components/CardWithUserDetails.tsx
  src/stories/pages/components/CustomRadioGroup.tsx
  src/stories/pages/components/HeaderWithActions.tsx
  src/stories/pages/components/HeaderWithActionsAndTabs.tsx
  src/stories/pages/components/HeaderWithBreadcrumbs.tsx
  src/stories/pages/components/HeaderWithProfile.tsx
  src/stories/pages/components/HeaderWithSearch.tsx
  src/stories/pages/components/InputField.tsx
  src/stories/pages/components/ListWithVerticalLine.tsx
  src/stories/pages/components/MarketShell.tsx
  src/stories/pages/components/PasswordField.tsx
  src/stories/pages/components/SearchField.tsx
  src/stories/pages/components/ShellWithFullBg.tsx
  src/stories/pages/components/ShellWithGroupedMenu.tsx
  src/stories/pages/components/ShellWithThreeColumn.tsx
  src/stories/pages/components/ShellWithTopNavbar.tsx
  src/stories/pages/components/SidebarWithBackground.tsx
  src/stories/pages/components/SidebarWithSearch.tsx
  src/stories/pages/components/StatWithCenteredIndicator.tsx
  src/stories/pages/components/StatWithDivider.tsx
  src/stories/pages/components/StatWithIcon.tsx
  src/stories/pages/components/StatWithIndicator.tsx
  src/stories/pages/components/StatWithProgessBar.tsx
  src/stories/pages/components/StatWithThreeColumns.tsx
  src/stories/pages/components/TableWithSearch.tsx
  src/stories/pages/components/VerticalSteps.tsx
  src/stories/pages/components/main/Icon.tsx
Due: prettier --write, eslint --fix

pinned dependencies
  packages/mobile-lib/package.json
Due: prettier --write

save changes and resolved date-fns issues
  packages/mobile-lib/package.json
Due: prettier --write

clean
  Readme.md
Due: prettier --write

add date-fns
  packages/mobile-lib/package.json
Due: prettier --write

added subject story to the storybook
  src/stories/chakra-designs/index.stories.tsx
  src/stories/mobile-application/subjects.stories.tsx
  src/stories/pages/ChakraProView.tsx
Due: prettier --write, eslint --fix

Add Availability page story
  src/stories/mobile-application/schedule.stories.tsx
Due: prettier --write, eslint --fix
